img {
    height: 250px;
    width: 250 px;
    margin-left: 15%;
}
a {
    background-color: #ffc107;
    border: #ffc107;
    
}
a:hover {
    color: white;
    background-color:#4b4276;
}


  .btn-primary {
    background-color: #ffc107;
    border: #ffc107;
}