
<div class="jumbotron" *ngIf="!hasFami" >
  <h5 class="display-4"> Bienvenu {{hasFami}}</h5>
  <div class="row">
  <div class="col-md-6">
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
   <div><button class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#example" data-whatever="@mdo" > Creer un espace famille</button></div> 
  </div>
  <div class="col-md-6">
    <img src="assets/img/acceuil.svg">
  </div>
</div>

</div>
<div>
</div>
<app-todo></app-todo>






<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Votre Famille!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="addFamily(f)" >
          <div class="form-group ">
            <label for="recipient-name" class="col-form-label">Nom de Famille</label>
            <input type="text" class="form-control" ngModel name="familyName" #FamilyName="ngModel" [(ngModel)]="userService.family.familyName" required  #familyName="ngModel">
            <div *ngIf="familyName.touched && familyName.errors?.required">
                <small class="text-danger">* Nom de Famille est obligatoire</small>
           </div>
            </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-small btn-block" [disabled]="f.invalid">Ajouter</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
