
<div class="wrapper" >
  <div class="sidebar">
      <ul>
          <li><a [routerLink]="['acceuil']"><i class="fas fa-home"></i>Acceuil</a></li>
          <li><a [routerLink]="['profile']"><i class="fas fa-user"></i>Profile</a></li>
          <li><a [routerLink]="['archives']"><i class="fas fa-search"></i>Recherche</a></li>
          <li><a [routerLink]="['invitation']"><i class="fas fa-user-plus"></i>Inviter membre</a></li>
          <li><a [routerLink]="['arrierePlan']"><i class="far fa-images"></i> Arriere plan</a></li>
          <li><a [routerLink]="['chat']"><i class="fas fa-comments"></i> Chat</a></li>
         
      </ul> 
     
  </div>
  <div class="main_content">
   

    <div>
    <div class="info">
     <router-outlet></router-outlet>
   </div>
</div>
</div>
