<h2 appArrierePlan>Selectionnez un théme</h2>
<p>Some quick example text to build on the panel title and make up the bulk of the panel's content</p>
<div class="row container"  >

      
          <div class="col-md-3" style="width: 18rem; height: 10rem;" >
              <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap" #img>
            </div>
            <div class="col-md-3" style="width: 18rem; height: 10rem;">
                <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
              </div>
              <div class="col-md-3" style="width: 18rem; height: 10rem;">
                  <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3" style="width: 18rem; height: 10rem;">
                    <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                  </div>
                  <div class="col-md-3" style="width: 18rem; height: 10rem;">
                      <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                    </div>
                   
             
      
</div>
