<div class="card">
    <div class="card-header">
        <i class="fas fa-smile-wink"></i> &nbsp; <strong>La famille Tliba</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">Invitez un membre de votre famille ! </h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <form #f="ngForm" >
          <div class="form-group">
            <label for="exampleInputEmail1">Adresse Email</label>
            <input type="email" class="form-control" placeholder="Tapez ici ..." name="to" ngModel>
          </div>
          <div class="form-group"> 
           
              <label for="exampleFormControlTextarea1"> Ecrire un mot à votre membre de famille</label>
              <textarea class="form-control" rows="3" placeholder="Tapez ici ..." name="body" ngModel>
              </textarea>
            </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="sendEmail(f.value)">Inviter un membre de la famille</button>
        </form>
    </div>
  </div>

 