button{
    background-color: #ffc107;
    border: #ffc107;
}
button:hover {
    color: white;
    background-color:#4b4276;
}
.card{
    margin-top: 55px;
}
.avatar {
    border: 0.3rem solid rgba(#fff, 0.3);
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
  }
  .card-img-top {
      height: 200px;
  }