<div class="page login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">
          <!-- Logo & Information Panel-->
          <div class="col-lg-6">
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>Bienvenu</h1>
                  
                </div>
                <hr>
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur 
                </p>
                <br>
                <br>
              <button type="submit" class="btn btn-primary btn-small btn-block" [routerLink]="['/register']">S'inscrire</button>

              </div>
            </div>
            
          </div>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            
            <div class="form d-flex align-items-center ">
              <div class="content ">
                  <h2>Se Connecter !</h2>
                  <br>
                <form >
                  <div class="form-group">
                    <input id="login-username" type="text" name="loginUsername" required placeholder="Entez votre Email" class="form-control">
                   
                  </div>
                  <div class="form-group">
                    <input id="login-password" type="password" name="loginPassword" required placeholder="Entrez votre mot de passe"  class="form-control">
                    
                  </div>
                  <button type="submit" class="btn btn-primary btn-small btn-block" >Se connecter</button>

                  <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
