<div class="page login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">
          <!-- Logo & Information Panel-->
          <div class="col-lg-6">
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>Bienvenu</h1>
                  
                </div>
                <hr>
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet, consectetur 
                </p>
                <br>
                <br>
              <button type="submit" class="btn btn-primary btn-small btn-block" [routerLink]="['/register']">S'inscrire</button>

              </div>
            </div>
            
          </div>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            
            <div class="form d-flex align-items-center ">
              <div class="content ">
                  <h2>Se Connecter !</h2>
                  <br>
                <form  #f="ngForm" (ngSubmit)="login(f)">
                    <div *ngIf="err">
                        <small class="text-danger">Retapper vos données!</small>
                      </div>
                  <div class="form-group">
                    <input type="email" name="email" #email="ngModel" placeholder="Entez votre Email" class="form-control" ngModel  required email >
                    <div *ngIf="email.touched && email.errors?.required">
                      <small class="text-danger">* Email est obligatoire</small>
                    </div>
                    <div *ngIf=" email.touched && email.errors?.email" >
                   <small  class="text-danger"> *Email Incorrect</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" #password="ngModel"  placeholder="Entrez votre mot de passe"  class="form-control" ngModel required minlength="6">
                    <div *ngIf=" password.touched && password.errors?.required">
                      <small  class="text-danger">* mot de passe est obligatoire</small>
                    </div>
      
                  </div>
                  <button type="submit" class="btn btn-primary btn-small btn-block" [disabled]="f.invalid" >Se connecter</button>
                  <br>
                  <!-- <button type="submit" class="btn btn-primary btn-small social "  > <img src="assets/img/google.png"> Google </button>
                  <button type="submit" class="btn btn-primary btn-small facebook social"  > <img src="assets/img/google.png"> Facebook </button> -->
                  <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form>
                <hr>
               
  
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
